<% unless signed_in? %>  
<%= form_for :session, url: session_path do |form| %>

  <form class="form-horizontal">
  <div class="searchbar">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
    <%= form.email_field :email, type: 'email', class: 'form-control', id: 'inputEmail3', placeholder:'Email' %>
    </div>
  </div>
  <div class="searchbar">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
    <%= form.password_field :password, type: 'password', class: 'form-control', id: 'inputPassword3', placeholder: 'password'%>
    </div>
  </div>
  <div class="searchbar">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="searchbar">
    <div class="col-sm-offset-2">
    <%= form.submit 'Sign in', class: "btn btn-default" %>
    </div>
  </div>
</form>
<br>
  <div class="searchbar">
    <div class="col-sm-offset-2"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

  <div class="searchbar">
    <div class="col-sm-offset-2">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to ("Not a member yet? Sign up here!"), sign_up_path %> <br>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  </div>
<% end %>
