<div class="container">
	<h2><%= @listing.title %></h2><br> 
	<%= image_tag @listing.image.url.to_s %><br>
		
	Accommodates: <%= @listing.accommodates %> people<br>
	Available from <%= @listing.available_from %> until <%= @listing.available_until %><br>
	Price: <%= @listing.price %> <%= @listing.currency %> per night<br>
	Listed by <%= link_to "#{@listing.user.first_name}", user_path(@listing.user_id) %><br><br>

	<%= render partial: '/reservations/form' %>

	<%= link_to "Back", listings_path %>

</div>
